<h1>Edit User</h1>

<form action="/users/3" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="user_username">Username</label>
  <input type="text"
         id="user_username"
         name="user[name]"
         placeholder="Username">
  <br>

  <label for="user_password">Password</label>
  <input type="password"
         id="user_password"
         name="user[password]"
         placeholder="Password">
  <br>

  <input type="submit" value="Edit User">
</form>
