<h1>Sign Up</h1>

<form action="/users/create" method="post">
  <label for="user_username">Username</label>
  <input type="text"
         id="user_username"
         name="user[name]"
         placeholder="Username">
  <br>

  <label for="user_password">Password</label>
  <input type="password"
         id="user_password"
         name="user[password]"
         placeholder="Password">
  <br>

  <input type="submit" value="Sign Up">
</form>
